.vase-section {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.vase-image {
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
}
